$font-size: 18px;
$font-stack: "Lato", "Helvetica Neue", "Helvetica", "Tahoma", "Verdana", sans-serif;
$primary-color: #597eaa;
$background: white;
$headings-color: black;
$text-color: $gray;
$line-height: 1.5;
$mq-small: "screen and (min-width: 350px)";
$mq-medium: "screen and (min-width: 700px)";
$mq-large: "screen and (min-width: 1000px)";
$container-width: 1100px;
$container-max-width: 90%;
