.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
}

.clearfix {
  *zoom: 1; // IE-6
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.float-left {
  float:left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.lead {
  font-size: 1.4em;
}

.link {
  margin-bottom: .5em;
  text-decoration: underline;
  color: #4078c0;
  display: inline-block;
}

.circle {
  border: 1px solid;
  display: inline-block;
  border-radius: 50%;
  width: 2em;
  text-align: center;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  margin-right: .5em;
}

.hr {
  margin-bottom: 2em;
  border: 2px solid $primary-color;
  width: 100px;
}

.card {
  border-radius: 5px;
  // border: 3px solid #f5f5f5;
  // box-shadow: 2px 2px 1px 2px #f5f5f5;
  background: white;
  min-height: 260px;
  padding: 2em;
  transition: .4s;
  // color: white;
  // min-height: 255px;
  h3 {
    margin: 0;
    text-transform: uppercase;
    &:after {
      @include hr($primary-color);
    }
  }
  &:hover {
    background-color: $primary-color;
    color: white;
    h3 {
      color: white;
    }
  }
}

.padd-vertical {
  padding: 2em 0;

}

.padd-horizontal {
  padding: 0 2em;
}

.uppercase {
  text-transform: uppercase;
}

.margin-bottom {
  margin-bottom: 2em;
}

.big-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.5em;
  @media #{$mq-medium} {
    font-size: 3em;
  }
}
