extends ./layout.pug
block content
  header.page-header
    .overlay
      h1.big-title.text-center.white About
  main
    .container
      section.page-section
        .grid__col.grid__col--10-of-12.grid__col--centered
          p
            | Established in 1990, we are experts in the repair and installation of commercial and domestic roofing.
          p
            | Based in Dublin, we work throughout North and South Dublin and understand perfectly that making the right choice when replacing or repairing a roof is vital as there are many important factors to be considered.  We can help you make the right choice.  We carry out all types roof works from minor repairs and maintenance to complete renewal and restoration.
          p
            | At Phoenix Roofing Ltd. we aim to provide the best solution to all your roof, flat roof or guttering requirements.
          h3 Our projects include:
          ul.list
            li Private Homes
            li Shopping Centres
            li Factories
            li Large Commerical Buidlings
            li New property developments.
          p
            | Please ask for references.  We provide you with a no obligation free quote on your roofing and building needs.
          a.button__primary(href="/") Get a Free Quote
