extends ./layout.pug
block content
  header.page-header
    .overlay
      h1.big-title.text-center.white Contact
  main
    .container
      .page-content--centered
        p.lead.text-center Contact us now for a free qoute.
        ul.contact-card
          li.contact-card__item
            a.contact-card__link(href="tel:01 455 2033", target="_blank")
              span.circle
                i.fa.fa-phone
              span (01) - 455 2033
          li.contact-card__item
            a.contact-card__link(href="mailto:info@phoenixroofing.com", target="_blank")
              span.circle
                i.fa.fa-envelope-o
              span info@phoenixroofing.com
          li.contact-card__item
            a.contact-card__link(href="http://facebook.com", target="_blank")
              span.circle
                i.fa.fa-facebook
              span Facebook
          li.contact-card__item
            a.contact-card__link(href="http://twitter.com", target="_blank")
              span.circle
                i.fa.fa-twitter
              span Twitter
