extends ./layout.pug
block content
  header.page-header
    .overlay
      h1.big-title.text-center.white Contact
  main
    .container
      .page-content--centered
        p.lead.text-center Contact us now for a free qoute.
        .contact-card
          span.circle
            i.fa.fa-phone
          a(href="mailto:foo@foo.com").link 0874762647
        .contact-card
          span.circle
            i.fa.fa-envelope-o
          a info@phoenixroofing.com
        span.circle l
        span.circle t
        span.circle f

    script(type="application/javascript", src="/js/form-submit.js")
