doctype html
html(lang='en')
  include ./partials/_head.pug
  if title == "Home"
    body.landing
  else
  body
    noscript
      .noscript
        p
          | For full functionality of this site it is necessary to enable JavaScript. Here are the
          a(href='http://www.enable-javascript.com/', target='_blank')
          | instructions how to enable JavaScript in your web browser.
    include ./partials/_nav.pug
    script(type='text/javascript').
      document.body.className += " js";
    block content
    include ./partials/_footer.pug
