extends ./layout.pug
block content
  header.page-header
    .overlay
      h1.big-title.text-center.white Services
  main.page-body
    .page-content
      nav.page-content__nav
        ul
          li
            a(href="#flat-roofing") Flat Roofing
          li
            a(href="#domestic-roofing") Domestic Roofing
          li
            a(href="#commercial-roofing") Commerical Roofing
      div.page-content__main
        h3#flat-roofing Flat Roofing
        p All new Flat roof construction installed by Phoenix Roofing Dublin is covered by a 25 year guarantee. We offer a free site survey at which our surveyor will discuss any problems including flat roof leaks and explain the work that is needed.
        p We use the highest quality materials to produce a monolithic laminated membrane that offers excellent weather proofing and dimensional stability.
        p Most flat roof waterproofing is damaged by sunlight and the effect of movement caused by changes in temperature. Failures usually occur first at outlets, roof edges and gutters, where workmanship is critical.
        p Flat Roof maintanence and Flat Roof Leak: Unrepaired leaks from failing roofs can lead to rotting timbers and result in damage to contents of your home.
        p Our Flat Roof system helps your rooms stay warmer in the winter and cooler in the summer, plus saves you thousands of euros on heating bills.
        p Our Specialised Roofing membrane is unaffected by expansion and contraction, protected against damaging solar rays and the very worst Irish weather. The membrane is secured to the roof structure for maximum protection from wind uplift.

        h3#domestic-roofing Domestic Roofing
        p Our domestic roofing projects include: repairs, new roofs or renewals
        p All insurance work undertaken, 24 hour service, no obligation free quotes, grant work.
        ul.ul--checked
          li Slated roofing (new and old)
          li Tiled roofs (new and old)
          li Re-point ridge tiles
          li Chimney flashing
          li Lead flashing
          li Build up flat roof systems / repaired
          li Roofing installation
          li Roof windows
          li Chimney pointing / rebuild
          li Chimney cap and pot replacements
          li Liquid Coating systems
          li Guttering and PVC systems
          li Fascia & Soffit
          li Insulation (attic & roof)
        h3#commercial-roofing Commercial Roofing
        p Phoenix Roofing can undertake large scale commercial and industrial projects, including repairs and replacements.
        p.bold Our Services include:
        ul.ul--checked
          li Dome replacements
          li Sheeting and cladding replacements
          li Industrial gutter and down pipes cleaning with hi tech power jet washing units
          li Roof sheeting and cladding systems
          li Sky lights
        p
          strong Pheonix Roofing also provides maintenance and emergency repairs.
        p
          a.button__primary Get a Free Quote
