footer.site-footer
  .container
    p &copy; 2016 Phoenix Roofing Dublin

script(src="/js/toggle-nav.js")
script(src="/js/fixed-nav.js")
script(src="/js/scrollUp.js")
if scripts
  each val in scripts
    script(src=val)
