head
  noscript
    .noscript
      p
        | For full functionality of this site it is necessary to enable JavaScript. Here are the
        a(href='http://www.enable-javascript.com/', target='_blank')
        | instructions how to enable JavaScript in your web browser.
  title Phoenix Roofing | #{title}
  link(rel="shortcut icon")(href="/favicon.ico")(type="image/x-icon")
  link(rel="icon")(href="/favicon.ico")(type="image/x-icon")
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='description')
  meta(name='author', content='laurence foley')
  link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")(rel="stylesheet")
  link(rel="stylesheet", type="text/css", href="/css/main.css" )
