head
  title Phoenix Roofing | #{title}
  link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
  link(rel="icon", href="/favicon.ico", type="image/x-icon")
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='Welcome to phoenixroofing. For all you\'re roofing needs')
  meta(name='author', content='laurence foley')
  link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet")
  link(rel="stylesheet", type="text/css", href="/css/main.css" )
