head
  noscript
    .noscript
      p
        | For full functionality of this site it is necessary to enable JavaScript. Here are the
        a(href='http://www.enable-javascript.com/', target='_blank')
        | instructions how to enable JavaScript in your web browser.
  title Phoenix Roofing | #{title}
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='description')
  meta(name='author', content='laurence foley')
  // Vendor stylesheets
  <script src="https://use.fontawesome.com/e175f0cc50.js"></script>
  link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
  link(rel="stylesheet", type="text/css", href="/css/main.css" )
