.page-header {
  background: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 120%;
  background-attachment: fixed;
  // height: 100%;
  .overlay {
    padding: 5.5em 0;
    background: rgba(52, 73, 94, 0.5);
  }
}
