.main-nav {
  background: #22303d;
  @extend .clearfix;

  &__logo, &__link {
    line-height: 3;
    @media #{$mq-medium} {
      line-height: 5;
    }
  }

  &__toggle {
    @media #{$mq-medium} {
      display: none;
    }
  }

  &__logo {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list {
    @media #{$mq-medium} {
      float: right;
    }
  }

  &__item {
    @media #{$mq-medium} {
      float: left;
    }

    &:first-child a {
      @media #{$mq-medium} {
        border-left: 1px solid lighten($primary-color, 0%);
      }
    }

  }

  &__link {
    display: block;
    color: white;
    padding: 0 1.5em;
    color: lighten($primary-color, 15%);
    color: white;
    text-align: center;

    &:hover {
      background: $primary-color;
      color: white;
    }

    @media #{$mq-medium} {
      display: inline-block;
      border-right: 1px solid lighten($primary-color, 0%);
    }
  }

}

.js .main-nav__list.isHidden {
  display: none;
}
//////////////////////////////////////////////
.site-nav {
  background: #22303d;
  overflow: auto;
}

.site-logo {
  /*font-size: 60px;*/
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.site-nav__toggle {
  display: none;
}

.js .site-nav__toggle {
  display: block;
  float: right;
  border: none;
  background-color:inherit;
  color: white;
  font-size: 1.25em;
}

/* Links */

.site-nav__list {
  clear: both;
}

.site-nav__item {
  list-style: none;
}

.site-nav__link {
  display: block;
  color: white;
  padding: 0 1.5em;
  color: lighten($primary-color, 15%);
  color: white;
  text-align: center;
}

.site-nav__link:hover {
  background: $primary-color;
  color: white;
}


/* MOBILE STATE */
@media screen and (max-width: 700px) {

  .site-nav {
    padding: 1em 0;
  }

  .site-nav__list {
    margin-top: 2em;
  }

  .site-nav__link {
    padding: 1em 0;
    border-bottom: 1px solid black;
    background: $primary-color;
  }

  /* NAV STATE */

  /* isClosed styles*/
  .js .site-nav.isClosed .site-nav__list {
    display: none;
  }

  /* isOpen styles*/
  .js .site-nav.isOpen .site-nav__list {
    display: block;
  }

}


/* DESKTOP STATE */

@media screen and (min-width: 700px) {

  .site-logo, .site-nav__link {
    line-height: 5;
  }

  .js .site-nav__toggle {
    display: none;
  }

  .site-nav__list {
    float: right;
  }

  .site-nav__item {
    display: inline-block;
  }
}
