.page-nav {
  margin-bottom: 2em;
  
  &__link {
    background: #f5f5f5;
    color: gray;
    display: block;
    padding: .5em 1em;
    border-left: 5px solid $primary-color;
    margin-bottom: .5em;
    transition: .4s;
    &:hover {
      background: $primary-color;
      color: white;
    }
  }
}
