.contact-form {
  label {
    display: block;
  }
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: .5em;
    border: 1px solid #ccc;
    background: #f5f5f5;
  }
  textarea {
    height: 150px;
  }
}
